/day_8_15_06_2025/pictures/bessie_simpson.jpg
/day_13_26_07_2025/build/okno_1/Analysis-00.toc
/day_13_26_07_2025/build/okno_1/base_library.zip
/day_13_26_07_2025/build/okno_1/BUNDLE-00.toc
/day_13_26_07_2025/build/okno_1/EXE-00.toc
/day_13_26_07_2025/build/okno_1/okno_1.pkg
/day_13_26_07_2025/build/okno_1/PKG-00.toc
/day_13_26_07_2025/build/okno_1/PYZ-00.pyz
/day_13_26_07_2025/build/okno_1/PYZ-00.toc
/day_13_26_07_2025/build/okno_1/warn-okno_1.txt
/day_13_26_07_2025/build/okno_1/xref-okno_1.html
/day_13_26_07_2025/dist/okno_1.app/Contents/_CodeSignature/CodeResources
/day_13_26_07_2025/dist/okno_1.app/Contents/MacOS/okno_1
/day_13_26_07_2025/dist/okno_1.app/Contents/Resources/icon-windowed.icns
/day_13_26_07_2025/dist/okno_1.app/Contents/Info.plist
/day_13_26_07_2025/dist/okno_1
/day_13_26_07_2025/okno_1.spec
